*{
    margin: 0;
    padding: 0;
}

.head {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 0 250px;
}

.menu-links {
    display: flex;
}

.menu-links a{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.menu-links a:hover {
    color: #711788;
}
.menu-links button {
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border: none;
    background: none;
    position: relative;
}

.menu-links button::after {
    content: "";
    background-image: url("../images/arrow-down.png");
    background-size: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 38%;
    left: 100%;
    width: 12px;
    height: 12px;
}
.dropdown {
    position: relative;
}
.dropdown-content a {
    font-size: 12px;
    padding: 10px 15px;
}
.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.banner .title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;

}

.banner .title h1 {
    font-size: 55px;
}

.banner .title h5 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 8px;
}